{% extends "layout.njk" %}

{% block content %}
    <div class="cards table-container">
        <a href="/members/create">Novo</a>
        <table width="100%">
            <thead>
               <tr>
                    <th>Instrutores</th>
                    <th>Atendimentos</th>
                    <th>Ação</th>
               </tr>
            </thead>
            <tbody>
                {%for member in members %}
                    <tr>
                        <td>
                            <span style="background-image: url({{member.avatar_url}})"></span>
                            {{member.name}}
                        </td>
                        <td>
                            {%for services in member.services %}
                                <span class="services">{{services}}</span>
                            {%endfor%}
                        </td>
                        <td><a href="/members/{{member.id}}">Ver</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}