{% extends "layout.njk" %}

{% block content %}

    <div class="cards">
        <section class="avatar_url" style= "border-radius: 12px 0 0 12px; background: url({{member.avatar_url}}) no-repeat center center / cover">
        </section>

        <section class="details">
            <form method="POST" action="/members?_method=PUT">    
                <h3>New member</h3>

                {% include 'member/fields.njk' %}
                
                <input
                    type="hidden"
                    name="id"
                    value="{{member.id}}"
                >
            </form>

             <form id="form-delete" action="/members?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ member.id }}">
                <button type="submit">Deletar</button>
            </form>

            <script>
                const formDelete = document.querySelector("#form-delete");
                formDelete.addEventListener('submit', function(event) {
                    const confirmation = confirm("Deseja Deletar ?");
                    if(!confirmation) {
                        event.preventDefault();
                    }
                });
            </script>
        </section>
    </div>
{% endblock content %}