{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Professores</th>
                    <th>Ocupações</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {%for teacher in teachers%}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}
                        </td>
                        <td class="occupations">
                            {%for occupation in teacher.occupation%}
                                <span>{{occupation}}</span>
                            {%endfor%}
                        </td>
                        <td><a href="/teachers/{{teacher.id}}/show">Ver</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}