{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <section class="avatar_url" style= "border-radius: 12px 0 0 12px; background: url(https://source.unsplash.com/collection/11466768/500x500) no-repeat center center / cover">
        </section>
        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Instructor</div>
                <div>Henrique</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>21 anos</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>Masculino</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crossfit</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>12/08/2019</div>
            </div>
        </section>
    </div>
{% endblock content %}