{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <section class="avatar_url" style= "border-radius: 12px 0 0 12px; background: url(https://source.unsplash.com/collection/11466768/500x500) no-repeat center center / cover">
        </section>
        <section class="details">
        </section>
    </div>
{% endblock content %}