{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <section class="avatar_url" style= "border-radius: 12px 0 0 12px; background: url({{ instructor.avatar_url }}) no-repeat center center / cover">
        </section>
        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Instructor</div>
                <div>{{ instructor.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ instructor.birth }}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ instructor.gender }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{instructor.created_at}}</div>
            </div>
        </section>
    </div>
{% endblock content %}